body{
    background-image: url("assets/tv-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}

h1 {
    padding-top: 18%;
}

h1, h2{
    text-align: center;
}

.start {
    margin-left: 47%;
    background-color: rgb(199, 55, 153);
    font-family: 'Nerko One', cursive;
    border-radius: 5px;
    font-size: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.start:hover {
    border: 2px solid white;
    background-color: rgb(61, 114, 168);
}

.options {
    /* margin-left: 47%; */
    background-color: rgb(151, 212, 212);
    /* margin-right: 75%; */
    text-align: left;
    font-family: 'Nerko One', cursive;
    border-radius: 5px;
    font-size: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.answers{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

}

.question{
    display: none;
    text-align: center;
}

.final {
    display: none;
}

img{
    margin: 0 auto;
    max-width: 100%;
}